dialog {
    color: var(--color-text);
    background: var(--color-bg-layer);

    inline-size: min(30rem, 100% - 2rem);

    border: none;
    border-radius: 0.5rem;

    margin: auto;

    &::backdrop {
        background: var(--color-backdrop);
        backdrop-filter: blur(3px);
    }
}