.home {
    display: grid;
    grid-template-columns: 15rem 1fr;
    gap: 1rem;

    align-items: start;
}


@media only screen and (max-width: 640px) {
    .home {
        grid-template-columns: 1fr;
    }
}