:root {
    color-scheme: light;

    --color-primary: hsl(204, 99%, 52%);
    --color-primary-hover-fade: hsl(204, 99%, 95%);
    --color-primary-hover: hsl(204, 96%, 60%);

    --color-surface-300: hsl(0, 0%, 99%);
    --color-surface-400: hsl(0, 0%, 97%);

    --color-text-200: hsl(0, 0%, 65%);
    --color-text-300: hsl(0, 0%, 40%);
    --color-text-400: hsl(0, 0%, 10%);

    --color-border-100: hsl(0, 0%, 92%);

    --shadow: 0 0 3px 0 rgb(0 0 0 / 0.1), 0 0 2px -1px rgb(0 0 0 / 0.1);

    --border-radius-100: 0.25rem;
    --border-radius-200: 0.5rem;
    --border-radius-300: 0.75rem;
    --border-radius-400: 1rem;
}

*,
*::after,
*::before {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    font-family: "Vazirmatn", system-ui;

    caret-color: transparent;

    scroll-behavior: smooth;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font-family: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

    color: inherit;
}

body {
    background-color: var(--color-surface-400);
    color: var(--color-text);

    inline-size: min(75rem, 100% - 2rem);

    margin-inline: auto;

    font-size: var(--fz-400);
}

p {
    color: var(--color-text-300);
}