:root {
    color-scheme: light;

    --color-primary: hsl(204, 99%, 52%);
    --color-primary-hover-fade: hsl(204, 99%, 95%);
    --color-primary-hover: hsl(204, 96%, 60%);

    --color-surface: hsl(0, 0%, 95%);
    --color-surface-elevated: hsl(0, 0%, 99%);

    --color-text: hsl(223, 100%, 7%);

    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

*,
*::after,
*::before {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    font-family: "Vazirmatn", system-ui;

    caret-color: transparent;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font-family: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

    color: inherit;
}

body {
    background-color: var(--color-surface);
    color: var(--color-text);

    inline-size: min(75rem, 100% - 2rem);

    margin-inline: auto;

    font-size: var(--fz-400);
}
