.button {
  display: inline-grid;
  place-content: center;

  cursor: pointer;

  transition: var(--transition);

  &:hover,
  &:focus {
    outline: none;

    transition: var(--transition);

    transform: translateY(-0.25rem);
  }

  &.primary {
    --color-button: var(--color-primary);
    --color-button-hover: var(--color-primary-hover);
  }

  &.danger {
    --color-button: var(--color-danger);
    --color-button-hover: var(--color-danger-hover);
  }

  &.solid {
    background: var(--color-button);
    color: var(--color-white);

    border: none;

    &:hover,
    &:focus {
      background: var(--color-button-hover);
      box-shadow: var(--shadow);
    }
  }
  &.outlined {
    background: transparent;
    color: var(--color-button);
    box-shadow: var(--shadow);

    border: 1px solid var(--color-button);

    &:hover,
    &:focus {
      background: var(--color-button);
      color: var(--color-white);
    }
  }

  &.ghost {
    background: transparent;
    color: var(--color-button);

    border: none;

    &:hover,
    &:focus {
      background: var(--color-button);
      color: var(--color-white);
    }
  }

  &.small {
    block-size: 1.75rem;

    svg {
      block-size: 1.25rem;
      inline-size: auto;
    }
  }

  &.medium {
    block-size: 2.25rem;

    svg {
      block-size: 1.25rem;
      inline-size: auto;
    }
  }
  &.large {
    block-size: 3rem;

    svg {
      block-size: 1.5rem;
      inline-size: auto;
    }
  }
  &.rectangle {
    &.medium {
      padding-inline: 0.5rem;
    }
    &.large {
      padding-inline: 0.75rem;
    }
  }

  &.rectangle,
  &.square {
    border-radius: 0.25rem;
  }
  &.square,
  &.circle {
    aspect-ratio: 1 / 1;
  }
  &.circle {
    border-radius: 999rem;
  }
}
